.container {
  display: flex;
  height: 100vh;
}

.image-sidebar {
  flex: 1;
  background: url('images/background.jpg') center/cover no-repeat;
  position: relative;
}

.logo-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  font-family: 'Cinzel', serif;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  position: absolute;
  bottom: 30%;
  width: 100%;
}

.logo-img {
  width: 50px;
  margin-right: 10px;
}


.form-section {
  flex: 1.2;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 3rem;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.2rem;
}

.form-group {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 0.3rem;
}

input {
  padding: 0.7rem;
  border: 1px solid #E5E7EB;
  border-radius: 4px;
  font-size: 1rem;
  outline: none;
}


input:focus {
  border-color: #2563eb; /* blue */
  box-shadow: 0 0 5px rgba(37, 99, 235, 0.4);
}

input:invalid {
  border-color: red;
}

/* button */
button {
  grid-column: 1 / -1;
  background-color: #596D48;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 0.9rem;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 1.5rem;
}

button:hover {
  opacity: 0.9;
}
